.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

/* À grands problèmes de grandes solutions
	https://cssgrid-generator.netlify.app/
*/

.parent {
	display: grid;
	grid-template-columns: 70px 100px 1fr 1.5fr 1fr 100px;
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-height: 100vh;
	min-height: 100vh;
	height: 100vh;
}
	
.grid-area--sidebar { grid-area: 1 / 1 / 6 / 2; }
.grid-area--company { grid-area: 1 / 2 / 2 / 3; }
.grid-area--swiper { grid-area: 5 / 2 / 6 / 7; background-color: #F2F2F2;}
.grid-area--chart { grid-area: 2 / 4 / 4 / 5; }
.grid-area--date { grid-area: 1 / 6 / 2 / 7;  }

/* Sidebar */

.sidebar {
	background-color: #121C2F;
	height: 100vh;
}

.sidebar__profile-logo {
	width: 50px;
	position: relative;
	top: 15px;
	left: 12px;
}

.sidebar__profile-logo:hover {
	stroke: blue;
	cursor: pointer;
}

.sidebar__settings-logo {
	width: 50px;
	position: absolute;
	left: 8px;
	bottom: 100px;
	cursor: pointer;
}

.sidebar__settings-logo:hover {
	stroke: blue;
	cursor: pointer;
}

/* Upper divs */ 

.company-logo {
}

.date-widget {
	width: 150%; /* a bit dirty */
	position: relative;
	color: black;
	right: 5rem;
	text-overflow: "";
	top: 2.5rem;
	font-size: 120%;
	text-align: center;
}

/* Carousel */

.swiper {
	position: absolute;
	top: -10%;
	height : 100%;
	background-color: #F2F2F2;
}

.swiper-slide {
	background-color:white;
	/* position: relative; */
	top: 5%;
	max-height: 90%;
	width: 100%;
	text-align: center;
}

.swiper-slide {
	border: 1px solid #C4C4C4;
	/* position: relative; */
}

.swiper-slide__add {
	color:#C4C4C4;
	position: relative;
	top: 25%;
	font-size: 4rem;
}

.swiper-slide__add:hover { color: grey; cursor: pointer; }

.swiper-slide--content {
	font-weight: bolder;
	letters-spacing: 120%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.swiper-slide--content span {
	color: white;
	mix-blend-mode: difference;
}

/* Chart */

.chart {
	position: relative;
	top: -15%;
}